# Common Sequence Operations

|        Operation       |                                      Result                                      |
|:----------------------:|:--------------------------------------------------------------------------------:|
|        `x in s`        | True if an item of s is equal to x, else False                                   |
|      `x not in s`      | False if an item of s is equal to x, else True                                   |
|        `s` + `t`       | the concatenation of s and t                                                     |
| `s` * `n` or `n` * `s` | equivalent to adding s to itself n times                                         |
|         `s[i]`         | ith item of s, origin 0                                                          |
|        `s[i:j]`        | slice of s from i to j                                                           |
|       `s[i:j:k]`       | slice of s from i to j with step k                                               |
|        `len(s)`        | length of s                                                                      |
|        `min(s)`        | smallest item of s                                                               |
|        `max(s)`        | largest item of s                                                                |
| `s.index(x[, i[, j]])` | index of the first occurrence of x in s (at or after index i and before index j) |
|      `s.count(x)`      | total number of occurrences of x in s                                            |

# List Properties

A `list` is one of the many built-in data structures that allows us to work with **a collection of data in sequential order**.
<br>
1. A list begins and ends with square brackets `[]`.
2. Each item is separated by a comma `,`
3. It’s considered good practice to **insert a space `" "` after each comma**.

In [3]:
# A list with 4 different data-types
list2 = ["Sam", 67, 85.5, True]

# Print list elements
print(list2)

# Print list type
print(type(list2))

['Sam', 67, 85.5, True]
<class 'list'>

- Lists can contain any data type in Python.
- You can create **empty lists**.

In [4]:
# creating an empty list implicitly
empty_list1 = []

# creating an empty list explicitly
empty_list2 = list()

# Methods

- For any specific data-type (`strings`, `booleans`, `lists`, etc. ) there is **built-in functionality** that we can use to **create**, **manipulate**, and even **delete** our data.

- For lists, methods will follow the form of `list_name.method()`.
- Some methods will require an input value that will go between the parenthesis of the method `( )`.

In [25]:
#Creating a list implicitly
example_list = [1, 2, 3, 4]
print("Initial list: ", example_list)
print()

#Using Append
example_list.append(5)
print("Add an element to initial list: ", example_list)
print()

#Using Remove
example_list.remove(1)
print("Remove an element from initial list: ", example_list)

Initial list:  [1, 2, 3, 4]

Add an element to initial list:  [1, 2, 3, 4, 5]

Remove an element from initial list:  [2, 3, 4, 5]

- If `.append()` is applied to a not empty list, the new element is **added to the end of the list**.
- The `.append()` function in Python can **only add one item at a time to a list**.

In [16]:
orders = ["daisies", "periwinkle"]
print(orders)

orders.append("tulips")
orders.append("roses")
print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips', 'roses']

# Combine Lists

- Use `+` to combine two lists (this is **also known as concatenation**).
- If a single element will be add with `+`, the element must be set into a list with brackets `[]`.

In [24]:
orders = ["daisy", "buttercup", "snapdragon", "gardenia", "lily"]
print("Initial orders: ", orders)
print()
# Create new orders here:
new_orders = ["lilac", "iris"]
print("New orders: ", new_orders)
print()
orders_combined = orders + new_orders
print("Current orders: ", orders_combined)

Initial orders:  ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

New orders:  ['lilac', 'iris']

Current orders:  ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']

# Accessing Lists Elements

- The **location** of an **element** in a list is called an **index**.  
- Python lists are **zero-indexed**. The first element in a list has index 0.  
- **Select a single element** from a list with **square brackets** `[]` and the **index number** of the list item.  
- The index `-1` selects the last item of a list.

In [5]:
# Create a list with employee names
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

# Select the first employee
first = employees[0]
print("The first element of the list is: ", first)
print()
# Select the last employee
last = employees[-1]
print("The last element of the list is: ", last)
print()
# Select the located at the middle of the list
middle = employees[int(len(employees)/2)]
print("The middle element of the list is: ", middle)

The first element of the list is:  Michael

The last element of the list is:  Robert

The middle element of the list is:  Pam

# Modifying List Elements

- To change a value in a list, **reassign the value using the specific index**.

In [6]:
# Create a waitlist of customers
garden_waitlist = ["Jiho", "Adam", "Sonny", "Alisha"]

# Replace Adam with another customer
garden_waitlist[1] = "Calla"
print(garden_waitlist)

# Replace Alisha with another customer
garden_waitlist[-1] = "Alex"
print(garden_waitlist)

['Jiho', 'Calla', 'Sonny', 'Alisha']
['Jiho', 'Calla', 'Sonny', 'Alex']

## Remove List Elements

- We can remove elements in a list using the `.remove()` Python method.  
- If a list has duplicate elements, only the first instance of the matching element is removed.  
- If a list element does not exists and the `.remove()` method is used, an `ValueError: list.remove(x): x not in list` is raised.

In [8]:
# Your code below: 
order_list = ["Celery", "Orange Juice", "Orange", "Flatbread"]
print(order_list)

order_list.remove("Flatbread")
print(order_list)

new_store_order_list = ["Orange", "Apple", "Mango", "Broccoli", "Mango"]
print(new_store_order_list)

new_store_order_list.remove("Mango")
print(new_store_order_list)

['Celery', 'Orange Juice', 'Orange', 'Flatbread']
['Celery', 'Orange Juice', 'Orange']
['Orange', 'Apple', 'Mango', 'Broccoli', 'Mango']
['Orange', 'Apple', 'Broccoli', 'Mango']

# Two-Dimensional Lists

- A list that contains another lists are referred to as `two-dimensional lists`.  
- Two-dimensional lists are useful when trying to represent a two-dimensional array.

In [1]:
# Create a two-dimensional list
heights = [["Jenny", 61],
           ["Alexus", 70],
           ["Sam", 67],
           ["Grace", 64],
           ["Vik", 68]]
print(heights)

[['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]

## Accessing Two-Dimensional Lists

- Two square brackets are used with the following syntax: `list_name[list_location][element_location]`.

In [2]:
class_name_test = [["Jenny", 90], ["Alexus", 85.5], ["Sam", 83], ["Ellie", 101.5]]
print(class_name_test)

# Access an element of a two-dimensional list
sams_score = class_name_test[2][1]
print(sams_score)

# Access an element of a two-dimensional list using negative indices
ellies_score = class_name_test[-1][-1]
print(ellies_score)

[['Jenny', 90], ['Alexus', 85.5], ['Sam', 83], ['Ellie', 101.5]]
83
101.5

## Modifying Two-Dimensional Lists

- To change a value in a two-dimensional list, **reassign the value using the specific index**.

In [3]:
# Create a two-dimensional list to represent student data
incoming_class = [["Kenny", "American", 9],
                  ["Tanya", "Russian", 9],
                  ["Madison", "Indian", 7]]

# Change the grade value for Madison using positive indices
incoming_class[2][2] = 8
print(incoming_class)

# Change the name of Kenny using negative indices
incoming_class[-3][-3] = "Ken"
print(incoming_class)

[['Kenny', 'American', 9], ['Tanya', 'Russian', 9], ['Madison', 'Indian', 8]]
[['Ken', 'American', 9], ['Tanya', 'Russian', 9], ['Madison', 'Indian', 8]]

In [4]:
customer_data = [["Ainsley", "Small", True],
                 ["Ben", "Large", False],
                 ["Chani", "Medium", True],
                 ["Depak", "Medium", False]]

# Change Chani's last element value
customer_data[2][2] = False

# Remove Ben's last element value
customer_data[1].remove(False)

# Add more customers to the original data
customer_data_final = customer_data + [["Amit", "Large", True],
                                       ["Karim", "X-Large", False]]
print(customer_data_final)

[['Ainsley', 'Small', True], ['Ben', 'Large'], ['Chani', 'Medium', False], ['Depak', 'Medium', False], ['Amit', 'Large', True], ['Karim', 'X-Large', False]]

# Combining Lists

## [`zip()`](https://docs.python.org/3/library/functions.html#zip)

- The `zip()` **combines associated data-sets without needing to rely on multi-dimensional lists**. 
- It is used to create a **nested list** that **pairs each element** of both lists into a single **zip object**.  
- A **zip object** contains the location of a variable in our computer’s memory.  
- Use the `list()` function to convert a `zip` object into a `list`. This will be a **list of tuples**.

In [8]:
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 65]

# Merge two lists into a zip object
names_and_heights = zip(names, heights)
print(names_and_heights)
print()
# Convert a zip object into a list
names_and_heights_list = list(names_and_heights)
print(names_and_heights_list)

<zip object at 0x7ffd21218100>

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

# Creating Lists with Range

- The arguments to the `range()` constructor must be integers.  
- `range(start, stop[, step])`.

In [3]:
print(list(range(10)))

print(list(range(1, 11)))

print(list(range(0, 30, 5)))

print(list(range(0, 10, 3)))

print(list(range(0, -10, -1)))

print(list(range(0)))

print(list(range(1, 0)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, 3, 6, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[]
[]

# Reference

## [List Documentation](https://docs.python.org/3/library/stdtypes.html#lists)