# Common Sequence Operations

|        Operation       |                                      Result                                      |
|:----------------------:|:--------------------------------------------------------------------------------:|
|        `x in s`        | True if an item of s is equal to x, else False                                   |
|      `x not in s`      | False if an item of s is equal to x, else True                                   |
|        `s` + `t`       | the concatenation of s and t                                                     |
| `s` * `n` or `n` * `s` | equivalent to adding s to itself n times                                         |
|         `s[i]`         | ith item of s, origin 0                                                          |
|        `s[i:j]`        | slice of s from i to j                                                           |
|       `s[i:j:k]`       | slice of s from i to j with step k                                               |
|        `len(s)`        | length of s                                                                      |
|        `min(s)`        | smallest item of s                                                               |
|        `max(s)`        | largest item of s                                                                |
| `s.index(x[, i[, j]])` | index of the first occurrence of x in s (at or after index i and before index j) |
|      `s.count(x)`      | total number of occurrences of x in s                                            |

# List Properties

A `list` is one of the many built-in data structures that allows us to work with **a collection of data in sequential order**.
<br>
1. A list begins and ends with square brackets `[]`.
2. Each item is separated by a comma `,`
3. Itâ€™s considered good practice to **insert a space `" "` after each comma**.

In [3]:
# A list with 4 different data-types
list2 = ["Sam", 67, 85.5, True]

# Print list elements
print(list2)

# Print list type
print(type(list2))

['Sam', 67, 85.5, True]
<class 'list'>

- Lists can contain any data type in Python.
- You can create **empty lists**.

In [4]:
# creating an empty list implicitly
empty_list1 = []

# creating an empty list explicitly
empty_list2 = list()

# Lists Methods and Functions

- For any specific data-type (`strings`, `booleans`, `lists`, etc. ) there is **built-in functionality** that we can use to **create**, **manipulate**, and even **delete** our data.

- For lists, methods will follow the form of `list.method(input)`.
- Some methods will require an input value that will go between the parenthesis of the method `( )`.

## `.append()`

- **Add ONE item to the end of a list**.

In [25]:
#Creating a list implicitly
example_list = [1, 2, 3, 4]
print("Initial list: ", example_list)
print()

#Using Append
example_list.append(5)
print("Add an element to initial list: ", example_list)
print()

#Using Remove
example_list.remove(1)
print("Remove an element from initial list: ", example_list)

Initial list:  [1, 2, 3, 4]

Add an element to initial list:  [1, 2, 3, 4, 5]

Remove an element from initial list:  [2, 3, 4, 5]

In [16]:
orders = ["daisies", "periwinkle"]
print(orders)

orders.append("tulips")
orders.append("roses")
print(orders)

['daisies', 'periwinkle']
['daisies', 'periwinkle', 'tulips', 'roses']

## `.insert()`

- Insert an item at a given position. The order and number of the inputs is important.
    - The first argument is the index you want to insert into.
    - The second argument is the element you want to insert at the specified index.
- This method will handle shifting over elements and can be used with negative indices.

In [7]:
# Create a list for a convenience store front display
front_display_list = ["Mango", "Filet Mignon", "Chocolate Milk"]
print(front_display_list)

# Insert an element in the first position of the list
front_display_list.insert(0, "Pineapple")
print(front_display_list)

['Mango', 'Filet Mignon', 'Chocolate Milk']
['Pineapple', 'Mango', 'Filet Mignon', 'Chocolate Milk']

## `.pop()`

- Remove the item at the given position in the list, and return it.  
    - If no index is specified, it removes and returns the last item in the list.  
    - It takes one single optional argument, which is the index for the element you want to remove.

In [1]:
# Create a list with data science topics
data_science_topics = ["Machine Learning", "SQL", "Pandas", "Algorithms", "Statistics", "Python 3"]
print(data_science_topics)

# Remove the last element of the list
data_science_topics.pop()
print(data_science_topics)

# Remove the "Alogorithms" topic from the main list
data_science_topics.pop(3)
print(data_science_topics)

['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics', 'Python 3']
['Machine Learning', 'SQL', 'Pandas', 'Algorithms', 'Statistics']
['Machine Learning', 'SQL', 'Pandas', 'Statistics']

## `range()`

- The `range()` built-in function help us to **create a list of consecutive numbers programmatically**.  
- If it takes a **single input**, it generates numbers **starting at 0** and **ending at the number before the input**.  
- It can also have the form of `range(start, end, step)`.

In [3]:
# Create a list from 0 to 9
number_list = range(9)
print(list(number_list))

# Create a list from 0 to 7
zero_to_seven = range(8)
print(list(zero_to_seven))

[0, 1, 2, 3, 4, 5, 6, 7, 8]
[0, 1, 2, 3, 4, 5, 6, 7]

In [6]:
# Create a list that starts at 5, ends before 15 and adds up by 3
range_five_three = range(5, 15, 3)
print(list(range_five_three))

# Create a list that starts at 0, ends before 15 and adds up by 5
range_diff_five = range(0, 40, 5)
print(list(range_diff_five))

[5, 8, 11, 14]
[0, 5, 10, 15, 20, 25, 30, 35]

## `len()`

- When we apply `len()` to a list, we get the **number of elements in that list**.  
-  Range objects do not need to be converted to lists in order to determine their length.

In [7]:
long_list = [1, 5, 6, 7, -23, 69.5, True, "very", "long", "list", "that", "keeps", "going.", "Let's", "practice", "getting", "the", "length"]

range_list = range(2, 3000, 100)

# Your code below: 
long_list_len = len(long_list)
print(long_list_len)

range_list_length = len(range_list)
print(range_list_length)

18
30

## `.count()`

- If we want to know **how many times an element appears** in a list we can use the method called `.count()`.  

- If the item being counted isnâ€™t in the list, the count will be 0.  

- Since `.count()` returns a value, we can assign it to a variable to use it.  

- We can also use `.count()` to count element appearances in a **two-dimensional list**.

In [12]:
# Create a list containing letters
letters = ["m", "i", "s", "s", "i", "s", "s", "i", "p", "p", "i"]

# Count and print the number of occurrences of the element "i"
num_i = letters.count("i")
print(num_i)

# Create a two-dimensional list
number_collection = [[100, 200], [100, 200], [475, 29], [34, 34]]

# Count and print the number of occurrences of the sublist [100,200]
num_pairs = number_collection.count([100, 200])
print(num_pairs)

# Create a two-dimensional list comprehension
friends = [["Sam", 12], ["Ron", 17], ["Josh", 12]]

# Count and print the number of occurrences of the number 12
age_12_count = [age for name, age in friends].count(12)
print(age_12_count)

4
2
2

## `.sort()`

- We can **sort a list** using the method `.sort()`.  
    - By default it sorts a list by alphabetical order.
    - Use `list.sort(reverse=True)` to sort in reverse order.  


- The `.sort()` method **does not return any value** and thus does not need to be assigned to a variable since **it modifies the list directly**. If we do assign the result of the method, it would assign the value of `None` to the variable.

In [13]:
# Create a list of addresses
addresses = ["221 B Baker St.", "42 Wallaby Way", "12 Grimmauld Place", "742 Evergreen Terrace", "1600 Pennsylvania Ave", "10 Downing St."]

# Sort the addresses list in alphabetical order and print the resulting list
addresses.sort()
print(addresses)

# Crea a list with names
names = ["Ron", "Hermione", "Harry", "Albus", "Sirius"]

# Sort the names in alphabetical order and print the resulting list
names.sort()
print(names)

# Create a list of cities
cities = ["London", "Paris", "Rome", "Los Angeles", "New York"]

# Sort the city names in reverse order (Z to A) and print the resulting list
cities.sort(reverse=True)
print(cities)

['10 Downing St.', '12 Grimmauld Place', '1600 Pennsylvania Ave', '221 B Baker St.', '42 Wallaby Way', '742 Evergreen Terrace']
['Albus', 'Harry', 'Hermione', 'Ron', 'Sirius']
['Rome', 'Paris', 'New York', 'Los Angeles', 'London']

# Slicing Lists

- Extracting a portion of a list is referred to as **slicing**.  

- **Slicing** uses the following **syntax**: `list[start:end]`, where:  
    - `start` is the **index of the first element that we want to include** in our selection.  
    - `end` is the **index of one more than the last index that we want to include**.

In [8]:
# Create a list containing the elements of a suitcase
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

# Slice the first two elements
beginning = suitcase[0:2]
print(beginning)
# Your code below: 

# Slice the middle elements of the suitcase list
middle = suitcase[2:4]
print(middle)

['shirt', 'shirt']
['pants', 'pants']

- If we want to select the `first n elements` of a list, we could use the following syntax: `list[:n]`.  
    - This syntax would **start** slicing **from index `0`** and up to **index `n`**


- If we want to slice the last n elements in a list we could use the following syntax: `list[-n:]`.  
    - This syntax starts from the end of the list up to the last element of the list.

In [ ]:
suitcase = ["shirt", "shirt", "pants", "pants", "pajamas", "books"]

# Your code below: 
last_two_elements = suitcase[-2:]
print(last_two_elements)

slice_off_last_three = suitcase[:-3]
print(slice_off_last_three)

# Combine Lists

- Use `+` to combine two lists (this is **also known as concatenation**).
- If a single element will be add with `+`, the element must be set into a list with brackets `[]`.

In [24]:
orders = ["daisy", "buttercup", "snapdragon", "gardenia", "lily"]
print("Initial orders: ", orders)
print()
# Create new orders here:
new_orders = ["lilac", "iris"]
print("New orders: ", new_orders)
print()
orders_combined = orders + new_orders
print("Current orders: ", orders_combined)

Initial orders:  ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily']

New orders:  ['lilac', 'iris']

Current orders:  ['daisy', 'buttercup', 'snapdragon', 'gardenia', 'lily', 'lilac', 'iris']

# Accessing Lists Elements

- The **location** of an **element** in a list is called an **index**.  
- Python lists are **zero-indexed**. The first element in a list has index 0.  
- **Select a single element** from a list with **square brackets** `[]` and the **index number** of the list item.  
- The index `-1` selects the last item of a list.

In [5]:
# Create a list with employee names
employees = ["Michael", "Dwight", "Jim", "Pam", "Ryan", "Andy", "Robert"]

# Select the first employee
first = employees[0]
print("The first element of the list is: ", first)
print()
# Select the last employee
last = employees[-1]
print("The last element of the list is: ", last)
print()
# Select the located at the middle of the list
middle = employees[int(len(employees)/2)]
print("The middle element of the list is: ", middle)

The first element of the list is:  Michael

The last element of the list is:  Robert

The middle element of the list is:  Pam

# Modifying List Elements

- To change a value in a list, **reassign the value using the specific index**.

In [6]:
# Create a waitlist of customers
garden_waitlist = ["Jiho", "Adam", "Sonny", "Alisha"]

# Replace Adam with another customer
garden_waitlist[1] = "Calla"
print(garden_waitlist)

# Replace Alisha with another customer
garden_waitlist[-1] = "Alex"
print(garden_waitlist)

['Jiho', 'Calla', 'Sonny', 'Alisha']
['Jiho', 'Calla', 'Sonny', 'Alex']

## Remove List Elements

- We can remove elements in a list using the `.remove()` Python method.  
- If a list has duplicate elements, only the first instance of the matching element is removed.  
- If a list element does not exists and the `.remove()` method is used, an `ValueError: list.remove(x): x not in list` is raised.

In [8]:
# Your code below: 
order_list = ["Celery", "Orange Juice", "Orange", "Flatbread"]
print(order_list)

order_list.remove("Flatbread")
print(order_list)

new_store_order_list = ["Orange", "Apple", "Mango", "Broccoli", "Mango"]
print(new_store_order_list)

new_store_order_list.remove("Mango")
print(new_store_order_list)

['Celery', 'Orange Juice', 'Orange', 'Flatbread']
['Celery', 'Orange Juice', 'Orange']
['Orange', 'Apple', 'Mango', 'Broccoli', 'Mango']
['Orange', 'Apple', 'Broccoli', 'Mango']

# Two-Dimensional Lists

- A list that contains another lists are referred to as `two-dimensional lists`.  
- Two-dimensional lists are useful when trying to represent a two-dimensional array.

In [1]:
# Create a two-dimensional list
heights = [["Jenny", 61],
           ["Alexus", 70],
           ["Sam", 67],
           ["Grace", 64],
           ["Vik", 68]]
print(heights)

[['Jenny', 61], ['Alexus', 70], ['Sam', 67], ['Grace', 64], ['Vik', 68]]

## Accessing Two-Dimensional Lists

- Two square brackets are used with the following syntax: `list_name[list_location][element_location]`.

In [2]:
class_name_test = [["Jenny", 90], ["Alexus", 85.5], ["Sam", 83], ["Ellie", 101.5]]
print(class_name_test)

# Access an element of a two-dimensional list
sams_score = class_name_test[2][1]
print(sams_score)

# Access an element of a two-dimensional list using negative indices
ellies_score = class_name_test[-1][-1]
print(ellies_score)

[['Jenny', 90], ['Alexus', 85.5], ['Sam', 83], ['Ellie', 101.5]]
83
101.5

## Modifying Two-Dimensional Lists

- To change a value in a two-dimensional list, **reassign the value using the specific index**.

In [3]:
# Create a two-dimensional list to represent student data
incoming_class = [["Kenny", "American", 9],
                  ["Tanya", "Russian", 9],
                  ["Madison", "Indian", 7]]

# Change the grade value for Madison using positive indices
incoming_class[2][2] = 8
print(incoming_class)

# Change the name of Kenny using negative indices
incoming_class[-3][-3] = "Ken"
print(incoming_class)

[['Kenny', 'American', 9], ['Tanya', 'Russian', 9], ['Madison', 'Indian', 8]]
[['Ken', 'American', 9], ['Tanya', 'Russian', 9], ['Madison', 'Indian', 8]]

In [4]:
customer_data = [["Ainsley", "Small", True],
                 ["Ben", "Large", False],
                 ["Chani", "Medium", True],
                 ["Depak", "Medium", False]]

# Change Chani's last element value
customer_data[2][2] = False

# Remove Ben's last element value
customer_data[1].remove(False)

# Add more customers to the original data
customer_data_final = customer_data + [["Amit", "Large", True],
                                       ["Karim", "X-Large", False]]
print(customer_data_final)

[['Ainsley', 'Small', True], ['Ben', 'Large'], ['Chani', 'Medium', False], ['Depak', 'Medium', False], ['Amit', 'Large', True], ['Karim', 'X-Large', False]]

# Combining Lists

## [`zip()`](https://docs.python.org/3/library/functions.html#zip)

- The `zip()` **combines associated data-sets without needing to rely on multi-dimensional lists**. 
- It is used to create a **nested list** that **pairs each element** of both lists into a single **zip object**.  
- A **zip object** contains the location of a variable in our computerâ€™s memory.  
- Use the `list()` function to convert a `zip` object into a `list`. This will be a **list of tuples**.

In [8]:
names = ["Jenny", "Alexus", "Sam", "Grace"]
heights = [61, 70, 67, 65]

# Merge two lists into a zip object
names_and_heights = zip(names, heights)
print(names_and_heights)
print()
# Convert a zip object into a list
names_and_heights_list = list(names_and_heights)
print(names_and_heights_list)

<zip object at 0x7ffd21218100>

[('Jenny', 61), ('Alexus', 70), ('Sam', 67), ('Grace', 65)]

# Creating Lists with Range

- The arguments to the `range()` constructor must be integers.  
- `range(start, stop[, step])`.

In [3]:
print(list(range(10)))

print(list(range(1, 11)))

print(list(range(0, 30, 5)))

print(list(range(0, 10, 3)))

print(list(range(0, -10, -1)))

print(list(range(0)))

print(list(range(1, 0)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 5, 10, 15, 20, 25]
[0, 3, 6, 9]
[0, -1, -2, -3, -4, -5, -6, -7, -8, -9]
[]
[]

# Lists Practice

In [1]:
# Function to estimate insurance cost:
def estimate_insurance_cost(name, age, sex, bmi, num_of_children, smoker):
  estimated_cost = 250*age - 128*sex + 370*bmi + 425*num_of_children + 24000*smoker - 12500
  print(name + "'s Estimated Insurance Cost: " + str(estimated_cost) + " dollars.")
  return estimated_cost

In [2]:
# Estimate Maria's insurance cost
maria_insurance_cost = estimate_insurance_cost(name = "Maria", age = 31, sex = 0, bmi = 23.1, num_of_children = 1, smoker = 0)

# Estimate Rohan's insurance cost
rohan_insurance_cost = estimate_insurance_cost(name = 
"Rohan", age = 25, sex = 1, bmi = 28.5, num_of_children = 3, smoker = 0)

# Estimate Valentina's insurance cost
valentina_insurance_cost = estimate_insurance_cost(name = "Valentina", age = 53, sex = 0, bmi = 31.4, num_of_children = 0, smoker = 1)

# Estimate Akira's insurance cost
akira_insurance_cost = estimate_insurance_cost(name = "Akira", age = 19, sex = 1, bmi = 27.1, num_of_children = 0, smoker = 0)

Maria's Estimated Insurance Cost: 4222.0 dollars.
Rohan's Estimated Insurance Cost: 5442.0 dollars.
Valentina's Estimated Insurance Cost: 36368.0 dollars.
Akira's Estimated Insurance Cost: 2149.0 dollars.

In [3]:
# Create a list of names
names = ["Maria", "Rohan", "Valentina", "Akira"]

# Create a list for actual insurance costs
insurance_costs = [4150.0, 5320.0, 35210.0, 2930.0]

# Merge each name with its actual insurance cost
insurance_data = list(zip(names, insurance_costs))

print("Here is the actual insurance cost data: " + str(insurance_data))

Here is the actual insurance cost data: [('Maria', 4150.0), ('Rohan', 5320.0), ('Valentina', 35210.0), ('Akira', 2930.0)]

In [4]:
# Create an empty list to add each estimated insurance cost
estimated_insurance_data = []

estimated_insurance_data.append(("Maria", maria_insurance_cost))

estimated_insurance_data.append(("Rohan", rohan_insurance_cost))

estimated_insurance_data.append(("Valentina", valentina_insurance_cost))

estimated_insurance_data.append(("Akira", akira_insurance_cost))

print("Here is the estimated insurance cost data: ", str(estimated_insurance_data))

Here is the estimated insurance cost data:  [('Maria', 4222.0), ('Rohan', 5442.0), ('Valentina', 36368.0), ('Akira', 2149.0)]

In [5]:
# Create an empty list to add each difference between actual and estimated insurance cost
insurance_cost_difference = []

insurance_cost_difference.append(("Maria", estimated_insurance_data[0][1] - insurance_data[0][1]))

insurance_cost_difference.append(("Rohan", estimated_insurance_data[1][1] - insurance_data[1][1]))

insurance_cost_difference.append(("Valentina", estimated_insurance_data[2][1] - insurance_data[2][1]))

insurance_cost_difference.append(("Akira", estimated_insurance_data[3][1] - insurance_data[3][1]))

print("Here is the difference between the estimated insurance cost and the actual insurance cost: " + str(insurance_cost_difference))

Here is the difference between the estimated insurance cost and the actual insurance cost: [('Maria', 72.0), ('Rohan', 122.0), ('Valentina', 1158.0), ('Akira', -781.0)]

# Reference

## [List Documentation](https://docs.python.org/3/library/stdtypes.html#lists)